.update-profile-container, .user-profile-container {
  width: 150px;
  height: 150px;
  border: 1px solid #ccc;
  margin-top: 15px;
}

.update-profile-image, .user-profile-image {
  width: 100%;
  height: 100%;
  border: none;
}

.user-profile-container, .user-profile-image {
  border-radius: 50%;
}

.user-error-box {
  background-color: #ffd2d2;
  margin-bottom: 20px;
  padding: 10px 20px;
}

.user-error-message {
  display: block;
  font-size: 1em;
  color: #d8000c;
  padding: 2px 0;
}