.profile-container {
  width: 150px;
  height: 150px;
  border: 1px solid #ccc;
  border-radius: 50%;
  margin-top: 15px;
}

.profile-image {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 50%;
}

.profile-edit-btn {
  width: 80px;
}